/build_noWXDIB/share
/build_noWXDIB/*.dll
/build_noWXDIB/*.exe
/build_noWXDIB/*.rpt
/build_noEditMgr/share
/build_noEditMgr/*.dll
/build_noEditMgr/*.exe
/build_noEditMgr/*.rpt
/build_noEditor/share
/build_noEditor/*.dll
/build_noEditor/*.exe
/build_noEditor/*.rpt
/build_noEdit/share
/build_noEdit/*.dll
/build_noEdit/*.exe
/build_noEdit/*.rpt
/build_batch/share
/build_batch/*.dll
/build_batch/*.exe
/build_batch/*.rpt
/build_onlyBatch/share
/build_onlyBatch/*.dll
/build_onlyBatch/*.exe
/build_onlyBatch/*.rpt
